@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 20 14.3% 4.1%;
		--foreground: 60 9.1% 97.8%;
		--card: 20 14.3% 4.1%;
		--card-foreground: 60 9.1% 97.8%;
		--popover: 20 14.3% 4.1%;
		--popover-foreground: 60 9.1% 97.8%;
		--primary: 60 9.1% 97.8%;
		--primary-foreground: 24 9.8% 10%;
		--secondary: 12 6.5% 15.1%;
		--secondary-foreground: 60 9.1% 97.8%;
		--muted: 12 6.5% 15.1%;
		--muted-foreground: 24 5.4% 63.9%;
		--accent: 12 6.5% 15.1%;
		--accent-foreground: 60 9.1% 97.8%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 60 9.1% 97.8%;
		--border: 12 6.5% 15.1%;
		--input: 12 6.5% 15.1%;
		--ring: 24 5.7% 82.9%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground font-sans overflow-x-hidden overflow-y-auto;
	}
}

.p {
	@apply px-4 md:px-8;
}
.text-solutions {
	@apply from-yellow-100 bg-clip-text bg-gradient-to-b to-yellow-500 text-transparent font-sans font-medium;
}

/** Navigation */
.nav-layout {
	@apply h-24 w-full flex items-center justify-between p;
}
.fixed-full {
	@apply fixed top-0 left-0;
}
.fixed-top-center {
	@apply fixed top-0 left-1/2 transform -translate-x-1/2 -translate-y-0;
}
.menu-overlay {
	clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
.overflow-wrapper {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.overflow-wrapper-2 {
	clip-path: polygon(0 0, 100% 0, 100% 120%, 0% 120%);
}
.overflow-wrapper-2-full {
	clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, -10% 110%);
}
.overflow-wrapper-3 {
	clip-path: polygon(0 0, 100% 0, 100% 140%, 0% 140%);
}
.button {
	@apply relative py-2 px-8 text-white text-base font-light overflow-hidden bg-transparent rounded-full transition-all duration-300 ease-in-out shadow-md hover:scale-105 hover:text-black hover:shadow-lg active:scale-90 before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-slate-50 before:to-white before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-full hover:before:left-0 border-[1px] border-white;
}

.about-image {
	@apply absolute left-1/2 -top-24 z-20 h-[60vh] w-96 origin-center -translate-x-1/2 overflow-hidden rounded-3xl md:w-[50vw];
}

/** About section */
.holder {
	position: relative;
	width: 200px;
	height: 50px;
}
.clip {
	/* Clip edges, as some of the lines don't terminate nicely. */
	overflow: hidden;
}
.circle {
	position: absolute;
	width: 200px;
	height: 20px;
	background: radial-gradient(
		16px,
		transparent,
		transparent 4px,
		red 4px,
		red 10px,
		transparent 11px
	);
	background-size: 30px 40px;
}

.circle2 {
	/* Offset to make squigglies line up */
	top: 20px;
	left: 15px;
	background-position: 0px -20px;
}
